.emptyHeadliner {
  width: 100vw;
  height: 60px;
  position: absolute;
  overflow: hidden;
  background-color: #949494;
  top: 0;
  left: 0;
}

.headliner {
  width: 100vw;
  height: 60px;
  position: absolute;
  overflow: hidden;
  background-color: #ffeb3b;
  top: 0;
  left: 0;
}

.todos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scroll 10s linear infinite;
}

.todo {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 24px;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
