.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.checkBox {
  width: var(--input-box);
  height: var(--input-box);
  border-radius: var(--br-content);
  margin-right: var(--gap);
  border: var(--border);
  flex-shrink: 0;
  min-width: var(--input-box);
  min-height: var(--input-box);
  cursor: pointer;
  transition-duration: var(--td);
  box-shadow: var(--box-shadow);
}

.checked {
  background-color: var(--primary);
}

.priorityBox {
  width: var(--input-box);
  height: var(--input-box);
  border-radius: var(--br-content);
  margin-right: var(--gap);
  border: var(--border);
  flex-shrink: 0;
  min-width: var(--input-box);
  min-height: var(--input-box);
  background-color: var(--low-color);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-xs);
  font-weight: bold;
  color: var(--white);
}

.low {
  background-color: var(--low-color);
}

.low::after {
  content: "LOW";
}

.medium {
  background-color: var(--medium-color);
}

.medium::after {
  content: "MEDIUM";
}

.high {
  background-color: var(--high-color);
}

.high::after {
  content: "HIGH";
}
