body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  width: calc(var(--gutter) * 5);
  padding: var(--gap);
  font-size: var(--fs-sm);
  background-color: var(--gray);
  transition-duration: var(--td);
  border-radius: var(--br-button);
  color: var(--white);
  cursor: pointer;
  opacity: 1;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: var(--dark-gray);
}

ul {
  all: unset;
}

li {
  list-style: none;
}

/*** Variables ***/
body {
  /* Layout */
  --container: 1320px;
  --section-margin: 120px;
  --outer-margin: 60px;
  --inner-margin: 30px;
  --common-padding: 120px;
  --common-content-padding: 60px;
  --gutter: 30px;
  --gap: 15px;
  --page-padding: 300px;
  --col-1: calc((var(--container) - (var(--gutter) * 11)) / 12);
  --col-2: calc(var(--col-1) * 2 + var(--gutter));
  --col-3: calc(var(--col-1) * 3 + var(--gutter) * 2);
  --col-4: calc(var(--col-1) * 4 + var(--gutter) * 3);
  --col-5: calc(var(--col-1) * 5 + var(--gutter) * 4);
  --col-6: calc(var(--col-1) * 6 + var(--gutter) * 5);
  --col-8: calc(var(--col-1) * 8 + var(--gutter) * 7);
  --col-9: calc(var(--col-1) * 9 + var(--gutter) * 8);

  /* Font */
  --fs-xxl: 120px;
  --fs-xl: 80px;
  --fs-lg: 60px;
  --fs-md: 45px;
  --fs-rg: 30px;
  --fs-sm: 24px;
  --fs-xs: 18px;
  --fs-xxs: 16px;

  /* Border */
  --br-content: 10px;
  --br-button: 10px;

  /* Color */
  --white: #fff;
  --black: #131313;
  --gray: #d8d8d8;
  --dark-gray: #a2a2a2;
  --red: #ff3b3b;
  --unreleased-color: rgba(176, 40, 52);
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --border: 1px solid var(--black);

  /* Transition */
  --td: 300ms;
}

/* Large Desktop */
@media (max-width: 1920px) {
  body {
    /* Layout */
    --container: 1000px;
    --section-margin: 60px;
    --gutter: 20px;
    --gap: 12px;
    --page-padding: 200px;
    /* Font */
    --fs-xxl: 80px;
    --fs-xl: 60px;
    --fs-lg: 40px;
    --fs-md: 30px;
    --fs-rg: 20px;
    --fs-sm: 16px;
    --fs-xs: 12px;
    --fs-xxs: 10px;
  }
}

@media (max-width: 1200px) {
  body {
    /* Layout */
    --container: 900px;
    --section-margin: 45px;
    --gutter: 15px;
    --gap: 9px;
    --page-padding: 150px;
    /* Font */
    --fs-xxl: 80px;
    --fs-xl: 60px;
    --fs-lg: 40px;
    --fs-md: 30px;
    --fs-rg: 20px;
    --fs-sm: 16px;
    --fs-xs: 12px;
    --fs-xxs: 10px;
  }
}

@media (max-width: 1024px) {
  body {
    /* Layout */
    --container: 725px;
    /* Font */
    --fs-xxl: 60px;
    --fs-xl: 45px;
    --fs-lg: 30px;
    --fs-md: 24px;
    --fs-rg: 15px;
    --fs-sm: 12px;
    --fs-xs: 9px;
    --fs-xxs: 7px;
  }
}

@media (max-width: 768px) {
  body {
    /* Layout */
    --container: 725px;
  }
}

@media (max-width: 480px) {
  body {
    /* Layout */
    --container: 100%;
    --card-width: 80vw;
    /* Font */
    --fs-xxl: 80px;
    --fs-xl: 56px;
    --fs-lg: 36px;
    --fs-md: 26px;
    --fs-rg: 20px;
    --fs-sm: 16px;
    --fs-xs: 12px;
    --fs-xxs: 10px;
  }
}
