/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/roboto-v32-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/roboto-v32-latin-700.woff2") format("woff2");
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-xl);
  font-weight: 700;
  font-display: swap;
}

body {
  margin: 0;
  margin-top: var(--section-margin);
  display: flex;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

button {
  width: calc(var(--gutter) * 5);
  padding: var(--gap);
  font-size: var(--fs-sm);
  background-color: var(--gray);
  transition-duration: var(--td);
  border-radius: var(--br-button);
  color: var(--white);
  cursor: pointer;
  opacity: 1;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: var(--dark-gray);
}

ul {
  all: unset;
}

li {
  list-style: none;
}

/*** Variables ***/
body {
  /* Layout */
  --container: 1320px;
  --section-margin: 120px;
  --input-box: 45px;
  --common-padding: 120px;
  --gutter: 30px;
  --gap: 15px;

  /* Font */
  --fs-xxl: 120px;
  --fs-xl: 80px;
  --fs-lg: 60px;
  --fs-md: 45px;
  --fs-rg: 30px;
  --fs-sm: 24px;
  --fs-xs: 18px;
  --fs-xxs: 16px;

  /* Border */
  --br-content: 10px;
  --br-button: 10px;

  /* Color */
  --white: #fff;
  --black: #131313;
  --gray: #d8d8d8;
  --dark-gray: #a2a2a2;
  --primary: #045e08;
  --danger: #fa4032;
  --low-color: #fab12f;
  --medium-color: #fa812f;
  --high-color: #fa4032;

  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --border: 1px solid rgba(119, 119, 119, 0.343);

  /* Transition */
  --td: 300ms;
}

/* Large Desktop */
@media (max-width: 1920px) {
  body {
    /* Layout */
    --container: 1000px;
    --section-margin: 60px;
    --gutter: 20px;
    --gap: 12px;
    --page-padding: 200px;
    /* Font */
    --fs-xxl: 80px;
    --fs-xl: 60px;
    --fs-lg: 40px;
    --fs-md: 30px;
    --fs-rg: 20px;
    --fs-sm: 16px;
    --fs-xs: 12px;
    --fs-xxs: 10px;
  }
}

@media (max-width: 1200px) {
  body {
    /* Layout */
    --container: 900px;
    --section-margin: 45px;
    --gutter: 15px;
    --gap: 9px;
    --page-padding: 150px;
    /* Font */
    --fs-xxl: 80px;
    --fs-xl: 60px;
    --fs-lg: 40px;
    --fs-md: 30px;
    --fs-rg: 20px;
    --fs-sm: 16px;
    --fs-xs: 12px;
    --fs-xxs: 10px;
  }
}

@media (max-width: 1024px) {
  body {
    /* Layout */
    --container: 725px;
    /* Font */
    --fs-xxl: 60px;
    --fs-xl: 45px;
    --fs-lg: 30px;
    --fs-md: 24px;
    --fs-rg: 15px;
    --fs-sm: 12px;
    --fs-xs: 9px;
    --fs-xxs: 7px;
  }
}

@media (max-width: 768px) {
  body {
    /* Layout */
    --container: 725px;
  }
}

@media (max-width: 480px) {
  body {
    /* Layout */
    --container: 100%;
    --card-width: 80vw;
    /* Font */
    --fs-xxl: 80px;
    --fs-xl: 56px;
    --fs-lg: 36px;
    --fs-md: 26px;
    --fs-rg: 20px;
    --fs-sm: 16px;
    --fs-xs: 12px;
    --fs-xxs: 10px;
  }
}
